<div id="recommendations">
    <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{#each recommendations}}
            <div class="carousel-item active">
                <a class="link" href="listed-item?id={{this.ID}}">
                    <img class="listing-image" src="{{this.photo}}">
                    <p style="font-style:italic;" >{{this.country}}, {{this.city}}</p>
                    <p><span style="font-weight:bold">{{this.listingType}}</span>
                    {{this.price}} 
                    <span style="color:rgb(230, 196, 8)">&#8364</span></p>
                </a>
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>